@import 'foundation';

.recipeList {


}


.recipeItem {
  .labels {
    span {
      color: $secondary-color;
      margin-right: 1rem;
    }

    span:last-child {
      margin-right: 0;
    }
  }

  .recipeActions {

    button,
    a {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    *:last-child {
      margin-right: 0;
    }
  }
}